<% content_for :title, "Line #{@line.name}" %>
<!-- <p id="notice"><%= notice %></p> -->
<div class="jumbotron line-<%= @line.id %>">
	<div class="container">
		<h1><%= render partial: 'lines/line_badge', locals: { line: @line } %> Line <%= @line.name %></h1>
	</div>
</div>
<div class="container-fluid line-<%= @line.id %>">
	<div class="row">
		<div class="col-sm-12">
			<p><%= @line.description %></p>
		</div>
	</div>
	<div class="row">
		<div class="list-group">
			<% @stations.each do |station| %>
			<a href="<%= station_path(@line, station) %>" class="list-group-item">
				<h4><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> <%= station.name %></h4>
			</a>
			<% end %>
		</div>
	</div>
</div>
