<p id="notice"><%= notice %></p>

<h1>Listing Movements</h1>

<table>
  <thead>
    <tr>
      <th>Up station</th>
      <th>Down station</th>
      <th>Up allowed</th>
      <th>Down allowed</th>
      <th>Length</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @movements.each do |movement| %>
      <tr>
        <td><%= movement.up_station_id %></td>
        <td><%= movement.down_station_id %></td>
        <td><%= movement.up_allowed %></td>
        <td><%= movement.down_allowed %></td>
        <td><%= movement.length %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

