<p id="notice"><%= notice %></p>

<p>
  <strong>Up station:</strong>
  <%= @movement.up_station.name %>
</p>

<p>
  <strong>Down station:</strong>
  <%= @movement.down_station.name %>
</p>

<p>
  <strong>Up allowed:</strong>
  <%= @movement.up_allowed %>
</p>

<p>
  <strong>Down allowed:</strong>
  <%= @movement.down_allowed %>
</p>

<p>
  <strong>Length:</strong>
  <%= @movement.length %>
</p>

