<%= form_for [:admin, @image] do |f| %>
  <% if @image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% @image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :filename %><br>
    <%= f.text_field :filename %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :alt %><br>
    <%= f.text_field :alt %>
  </div>
  <div class="field">
    <%= f.label :imageable_id %><br>
    <%= f.text_field :imageable_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
